body{
  background-image: url('./images/body-background.png');
}

.logo{
  position: absolute;
  width: 300px;
  top: 50px;
  left: 52px;
}

.score{
  position: absolute;
  top: 241px;
  right: -4px;
  width: 166px;
}


.score-number{
  position: absolute;
  top: 317px;
  right: 21px;
  width: 136px;
}
.instructions{
  position: absolute;
  top: 47px;
  width: 300px;
  right: 70px;
}

.outerbox{
  background-image: url('./images/box-background.png');
  width: 542px;
    height: 763px;
    margin: 0 auto;
    margin-top: 17px;
    padding-top: 90px;
    background-repeat: no-repeat;
    position:relative;
}

.next {
    position: absolute;
    top: 94px;
    right: 5px;
}

.shape {
  position: absolute;
  top: 172px;
  right: 32px;
}

.game-canvas {
  border: 3px solid #999;
  border-radius: 3px;
  margin: auto;
  display: block;
  background-image:url('./images/background.png');
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.32);
  -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.32);
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.32);
  margin-left:52px;
}
